body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}
.infoperso  label{
	
	width: 300px;
	float: left;
	font-size: 17px;
	
}
#imghome {
	margin-bottom:3px;
}
.register{
	 color:white; background-color:#40abfd; float:right; 
}
.infoperso {
position: relative;
 font-family: open sans , Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  	width: 60%;
  	margin-left:20%;
  
}

 
.infoperso textarea{ width: 225px; height:70px;  }
.infoperso input{height:30px; width: 225px;}

/* Forms  */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form output {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}




table{
	width:80%;
	margin-left:10%;
	border-collapse: collapse;
}
tr.pair{
	background-color: #efefef;
}
tr.impair{
	background-color: #fff;	
}
th{
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}
th.action{
	border: 1px solid #900;
	color: #900;
}
td{
	border: 1px solid #ddd;
	padding: 5px;
}
td.action{
	text-align: center;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    width:150px;
}

/* Styles et couleurs */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/************************************************************Inscription ************************************************/

#Inscription-title{
	margin:auto;
	text-align: center;
}

#Inscription-form{
	margin:auto;
	width:50%;
}

/************************************************************Connection ************************************************/

#error{
	color:red;
}

/************************************************************Home ************************************************/

#home{
	margin:auto;
	width:70%;
	min-height :500px;
	padding:20px;
}


#home_user{
	background-color : lightgrey;
	height:70px;
	padding:20px;
}

#home_announcement{
	float:right;
	width:77%;
	padding : 10px;
}

#home_content{
	min-height :300px;
	border:1px solid lightgrey;
}
#home_table{
	padding:10px;
	border-right: 1px solid lightgrey;
	float:left;
	min-height :300px;
	width:20%;
}

h1{
	text-align: center;
}

input .home_input {
	width:100%;
	margin:auto;
}

/************************************************************Message-Content ************************************************/
#message_content{
	border:1px solid black;
	height:200px;
	margin-top:25px;
	width:100%;
}

#message_form{
	margin:auto;
	text-align: center;
}

div#menu{
 position: fixed;
 	border: 1px solid #0568CD;
	width:10%;
	padding: 10px;
	margin: 10px;
	top:0;
	left:0;
}
div#corpsDa{
	
	margin-top:7%;
 	margin-left:20%;
	
}

div#dash{
	margin-left:7%;
	 margin-top:2%;
}

div#option{
	
	margin-right:0.5%; margin-left:79%; margin-top:-2%; text-color:#40abfd; 
}

.composantCentre{
width:80%;  
margin-left:10%;
}
.liste{
  height:90%; width:17%; 
  position:fixed;
	top:80px;
}

.welcome {
	margin-top:7%;
}
.image{
	padding:2px; margin-left:25%;
}
.image2{
	padding:5px; margin-left:35%;
}
.access{
color:#40abfd; text-align:center;
}

.connection{
	
	border:solid #eee; 
	width:30%;  
	margin-left:35%;
	box-shadow: 1px 1px 12px #a9a9a9; 
	margin-top:11%;
	border-radius: 10px;
	background-color: white;
}

.liste a:link{text-decoration:none; color:#7a7a7a;}
.liste a{color:#7a7a7a;}
.liste a:hover{color:#40abfd;}
.headerr{
	
	z-index: 1;
	 position:fixed;
	top:0;
	left:0;
	height:75px;
	width:100%;
	background: white; color:#7a7a7a; box-shadow:  1px 1px 12px #a9a9a9;
}

.headerr a:link{text-decoration:none; color:#7a7a7a;}
.headerr a{color:#7a7a7a;}
.headerr a:hover{color:#40abfd;}

.menuP{
font-size:20px; margin-left:30%;
}

.menuLi{
font-size:15px; 
}
div#deco{
	position: fixed;
	border: 1px solid #0568CD;
	width:10%;
	padding: 10px;
	margin: 10px;
	
	top:0;
	right:0;
}
div#corps{
	margin: 10px;
}

.contact{
	width:60%;
}

.contactImage{
	float:right; margin-right:8%;
}